@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: rgb(31, 31, 31);
  color: white;
}
body h1 {
  padding: 35px 20px 20px 20px;
}

main {
  display: flex;
  padding: 20px;
  color: white;
  height: 100%;
  gap: 10px;
}

#form {
  display: flex;
  flex-direction: column;
  width: 25vw;
  gap: 5px;
}
#form h2 {
  background-color: rgb(56, 56, 56);
  border-radius: 5px;
  padding: 15px;
  font-size: 1.2rem;
}
#form input {
  background-color: rgb(56, 56, 56);
  border-style: none;
  padding: 0.7rem;
  border-radius: 5px;
  color: white;
}
#form button {
  margin-top: 10px;
  background-color: aquamarine;
  border-style: none;
  padding: 7px;
  border-radius: 5px;
  font-weight: 500;
  color: rgb(7, 80, 56);
}
#form button:hover {
  background-color: rgb(85, 218, 174);
  cursor: pointer;
}

.container .acountValueContainer {
  background-color: rgb(56, 56, 56);
  border-radius: 5px;
  width: 75vw;
  padding: 15px;
}
.container .acountValueContainer h2 {
  font-size: 1.2rem;
}
.container .acountValueContainer #acountValue.positive {
  color: rgb(10, 229, 10);
}
.container .acountValueContainer #acountValue.negative {
  color: rgb(210, 13, 13);
}
.container #finances-section {
  position: relative;
  min-height: 60vh;
  padding: 20px 0px;
  border-radius: 5px;
  transition: 1s ease;
}
.container #finances-section h2 {
  background-color: rgb(56, 56, 56);
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 5px;
}
.container #finances-section .popup {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.container #finances-section .popup .bx-x {
  height: 20px;
  width: 20px;
  color: white;
  align-self: flex-end;
}
.container #finances-section .popup .bx-x:hover {
  cursor: pointer;
}
.container #finances-section .popup .edit-form {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 270px;
  background-color: #676464;
  border-radius: 10px;
  padding: 15px;
}
.container #finances-section .popup .edit-form input {
  background-color: rgb(56, 56, 56);
  border-style: none;
  padding: 0.7rem;
  border-radius: 5px;
  color: white;
}
.container #finances-section .popup .edit-form button {
  width: 50%;
  height: 40px;
  background-color: aquamarine;
  border-style: none;
  padding: 7px;
  border-radius: 5px;
  font-weight: 500;
  color: rgb(7, 80, 56);
  align-self: center;
  margin-top: 20px;
}
.container #finances-section .popup .edit-form button:hover {
  background-color: rgb(85, 218, 174);
  cursor: pointer;
}
.container .finance-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: 500;
  border-bottom: 1px solid rgb(56, 56, 56);
}
.container .finance-container .finance-content {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.container .finance-container .finance-content .value-content {
  text-align: end;
}
.container .finance-container .finance-content .value-content.positive {
  color: rgb(10, 229, 10);
}
.container .finance-container .finance-content .value-content.negative {
  color: rgb(210, 13, 13);
}
.container .finance-container .containerBtn {
  display: flex;
  gap: 10%;
}
.container .finance-container .containerBtn button {
  width: 70px;
  height: 40px;
  border-style: none;
  border-radius: 5px;
  font-weight: 500;
}
.container .finance-container .containerBtn button.edit-btn {
  background-color: rgb(48, 165, 220);
}
.container .finance-container .containerBtn button.edit-btn:hover {
  background-color: rgb(12, 140, 200);
  cursor: pointer;
}
.container .finance-container .containerBtn button.delete-btn {
  background-color: rgb(208, 33, 45);
}
.container .finance-container .containerBtn button.delete-btn:hover {
  background-color: rgb(194, 10, 23);
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
