.container{
    display: flex;
    flex-direction: column;
    .acountValueContainer{
        background-color: rgb(56, 56, 56);
        border-radius: 5px;
        width: 75vw;
        padding: 15px;
        h2{
            font-size: 1.2rem;
        }
        
    }
    #finances-section{
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
        border-radius: 5px;
        h2{
            background-color: rgb(56, 56, 56);
            padding: 15px;
            font-size: 1.2rem;
            border-radius: 5px;
        }
    }

    .finance-container{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        font-weight: 500;
        border-bottom: 1px solid rgb(56, 56, 56);

        .finance-content{
            display: grid;
            width: 80%;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;

            .value-content{
                text-align: end;

                &.positive{
                    color: rgb(10, 229, 10);
                }
                &.negative{
                    color: rgb(210, 13, 13);
                }
            }
        }

        .containerBtn{
            display: flex;


            button{
                width: 60px;
                height: 30px;
            }
        }
    }
}

