#form{
   display: flex;
   flex-direction: column;
   width: 25vw;
   gap: 5px;

   h2{
      background-color: rgb(56, 56, 56);
      border-radius: 5px;
      padding: 15px;
      font-size: 1.2rem;
   }

   input{
      background-color: rgb(56, 56, 56);
      border-style: none;
      padding: .7rem;
      border-radius: 5px;
      color: white;
   }

   button{
      margin-top: 10px;
      background-color: aquamarine;
      border-style: none;
      padding: 7px;
      border-radius: 5px;
      font-weight: 500;
      color: rgb(7, 80, 56);
      
      &:hover{
         background-color: rgb(85, 218, 174);
         cursor: pointer;
      }
   }
}